<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>未收录的关键字</title>
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'images/icon5.png' %}"/>
</head>
<body>
<div class="container">
    <div style="border: #138496 solid 3px; margin-top: 25%">
        <div class="row">
            <div class="col">
                <h2 class="text-center">该关键字尚未收录</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-center">我们已经记下您搜索的关键字</h4>
            </div>
        </div>
    </div>
</div>
</body>
</html>